* {
  margin: 10 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

body,
html {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1rem;
  text-align: center;
}

nav {
  border: solid 1px black;
  padding: 1rem;
  text-align: center;
}

.content {
  display: flex;
  flex: 1; /* Faz o conteúdo principal crescer */
}

aside {
  border: solid 1px black;
  width: 250px;
  padding: 1rem;
  transition: width 0.3s ease;
  min-height: calc(100vh - 160px); /* Altura total menos o header e footer */
}

aside.minimized {
  width: 60px; /* Largura reduzida do aside */
}

@media (max-width: 768px) {
  aside {
    display: none;
  }

  .section-content {
    flex: 1;
  }
}

.section-content {
  flex: 1;
  padding: 1rem;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: auto; /* Garante que o footer fique no final */
}
